header{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
.header_title{
    display: flex;
    justify-content: center;
    padding-right: 50px;
}
footer{
    text-align: center;
}
form{
    text-align: center;
}
.validate{
    font-size: 2em;
}